<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../../../../Public/h-ui/lib/html5shiv.js"></script>
    <script type="text/javascript" src="../../../../Public/h-ui/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="../../../../Public/h-ui/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="../../../../Public/h-ui/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="../../../../Public/h-ui/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../../../../Public/h-ui/static/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="../../../../Public/h-ui/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="../../../../Public/h-ui/lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>公告</title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            border: 0;
            text-decoration: none;
        }
        a:hover {
            text-decoration: none;
        }
        body {
            background-color: #E6E6E6;
            left: 0;
            overflow-x: hidden;
            overflow-y: scroll;
        }
        body::-webkit-scrollbar {
            display: none;
        }
        #down ul > li {
            float: left;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 14px;
            font-weight: 600;
        }
        #page ul {
            background-color: #FFFFFF!important;
            margin-left: 30%;
        }
        #page ul > li {
            float: left;
            padding: 10px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div id="notice">
        <div id="bow" style="width: 100%;background-color: #ffffff!important;">
            <notempty name="Notice">
                <div class="text-c" style="width: 100%;display: inline-block;">
                    <button type="button" class="radius btn size-MINI" style="border: none;font-size: 14px;float: right;margin-right: 15px" onclick="hotSort()">
                        根据热度排序
                        <i class="Hui-iconfont" style="color: red">&#xe675;</i>
                    </button>
                </div>
            </notempty>
            <volist name="Notice" id="vo">
                <div  id="content" style="margin-top: 15px;cursor: pointer;" onclick="show('公告详情','{:U(\'Notice/index\')}?id={$vo.id}','1200','0')">
                    <div style="display: inline-block;height: 36px;margin-left: 12px">
                        <u style="font-size: 18px;font-weight: 600;line-height: 1.6;color: #1A1A1A" onmousemove="this.style.color='blue'" onmouseout="this.style.color = '#1A1A1A'">{$vo.title}</u>
                    </div>
                    <div id="mid" style="display: block;height: 100px;width: 96%;margin-left: 2%;overflow: hidden;">
                        <u style="font-size: 16px;line-height: 1.67;">{$vo.content}</u>
                    </div>
                    <div id="down" style="display: inline-block;margin-top: 20px">
                        <ul>
                            <li>热度：{$vo.hot}</li>
                            <li>发布者：{$vo.author}</li>
                            <li>发布时间：{$vo.addtime|date='Y-m-d H:i:s',###}</li>
                        </ul>
                    </div>
                </div>
            </volist>
            <div id="page">
                <ul>
                    <li onclick="page(1)">首页</li>
                    <li onclick="page(parseInt('{$page}')-1)">上一页</li>
                    <li onclick="page(parseInt('{$page}')+1)">下一页</li>
                    <li onclick="page(-1)">末页</li>
                    <li style="float: right;margin-right: 5px">>> 第{$page}页 <<</li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../../../Public/h-ui/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="../../../../Public/h-ui/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="../../../../Public/h-ui/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="../../../../Public/h-ui/static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="../../../../Public/h-ui/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="../../../../Public/h-ui/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../../../../Public/h-ui/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    $(function(){
        $('.table-sort').dataTable({
            "searching":false,
            "bLengthChange":false,
            'bSort':false,
            "bPaginate":false,
            "bInfo":false,
        })
    });

    function page(page) {
        $.ajax({
            url:"{:U('checkPage')}",
            type:"get",
            data:{
                "page":page,
                "table":"Notice",
            },
            success:function (data) {
                if(data == 'Up') {
                    alert("已经是第一页了");
                } else if(data == 'End'){
                    alert('已经是最后一页了');
                } else if(data){
                    location.href = "{:U('noticeList')}?page="+data;
                }
            }
        });
    }

    function show(title,url,w,h) {
    	var account = "{$Think.SESSION.account}";
    	if(account) {
            if(w == 0) w = parent.document.body.clientWidth*0.95;
            if(h == 0) h = parent.document.body.clientHeight*0.85;
    		parent.layer_show(title,url,w,h);
    	} else {
    		alert('请先登录');
    		parent.location.href = "{:U('login')}";
    	}
    }
    function hotSort() {
        window.location.href = "{:U('noticeList')}?order=hot desc";
    }
</script>
</html>